.Top {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.Menu{
  padding-top:100px;
}

.Bottom {
  padding-top: 110px ;
  display: flex;
  align-items: stretch; 
  justify-content: flex-start;
  height: 90vh;
  /* background-color: #222; */
  background-image: url(./csbackground5.jpg);
  background-size: 100%;
  background-repeat:no-repeat;
  font-family: 'Marcellus SC', serif;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
