.App-header {
    background-color: black;
    width: 100%;
    height: 70px;
    padding: 20px;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

.App-title {
    font-size: 3.5em;
    font-family: 'Marcellus SC', serif;
    text-align: center;
    color: white;
}

.imagelogo {
    height: 80px;
    width: 80px;  
    margin-right: 35%;  
}